:root {
  --user-color-brand-900: #0c280b;
  --user-color-brand-800: #175115;
  --user-color-brand-700: #237920;
  --user-color-brand-600: #2fa12b;
  --user-color-brand-500: #3ac936;
  --user-color-brand-400: #62d45e;
  --user-color-brand-300: #89df86;
  --user-color-brand-200: #b0eaae;
  --user-color-brand-100: #d8f4d7;
}
