:root {
  --user-color-brand-900: #2e004f;
  --user-color-brand-800: #4b007a;
  --user-color-brand-700: #6800a5;
  --user-color-brand-600: #8500d0;
  --user-color-brand-500: #a200ff;
  --user-color-brand-400: #b533ff;
  --user-color-brand-300: #c866ff;
  --user-color-brand-200: #db99ff;
  --user-color-brand-100: #ecccff;
}
